@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* NAVBAR */
.navBar {
  display: flex;
  justify-content: space-around;
  height: 55px;
  align-items: center;
}

.navBar > h1 {
  font-size: 21px;
}
.navInput {
  width: 400px;
  background-color: rgba(6, 6, 255, 0.066);

  height: 40px;
  border-radius: 180px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.navInput > input {
  background: none;
  border: none;
  width: 100%;
  outline: none;
  padding: 5px;
}
.fa-magnifying-glass {
  font-size: 12px;
}
.navBtn {
  display: flex;
  align-items: center;
}

.navBtn > button {
  background: rgb(67, 67, 227);
  border: none;
  border-radius: 180px;
  width: 100px;
  height: 35px;
  color: #fff;
}

/* CENTER CONTENT*/

.centerBg {
  padding: 8px 40px 0 40px;
  background-color: rgba(0, 0, 205, 0.066);
}
.centerContainer {
  display: flex;
  gap: 10px;
}

/* LEFT CONTENT */

.leftSide {
  padding: 10px 0 0 65px;
  /* overflow-y: hidden; */
}
.profile {
  background: #fff;
  display: flex;
  width: 250px;
  height: 80px;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
}

.profilePic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.profileText > h2 {
  font-size: 17px;
}

.profileText > p {
  font-size: 13px;
  color: grey;
}

.leftNotification {
  background: #fff;
  width: 250px;
  margin-top: 15px;
  border-radius: 8px;
}
.leftIcon {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0 10px 15px;
}
.leftIcon > i {
  font-size: 17px;
  color: #000000ba;
}
.leftIcon > h2 {
  font-size: 16px;
}

.leftBtn > button {
  width: 250px;
  height: 45px;
  color: #fff;
  border: none;
  background: rgb(67, 67, 227);
  margin: 10px 0;
  border-radius: 180px;
  padding: 5px;
}
#theme {
  color: rgb(67, 67, 227);
}
.fa-palette {
  color: rgb(67, 67, 227);
  /* background: red; */
}

/* MIDDLE CONTENT */

.middleSide {
  padding: 10px 10px 10px 10px;
}
/*  MIDDLE  PICTURES STORY POST */
.images {
  display: flex;
  gap: 5px;
}

.storyDiv {
  position: relative;
}

.storyDiv > p {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 13px;
}
.storyPic {
  width: 80px;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
}
/* MIDDLE INPUT POST */

.middleInput {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 180px;
  background: #fff;
  margin: 20px 0;
}

.middleInput > input {
  border: none;
  width: 80%;
  height: 100%;
  padding: 10px;
  background: none;
  outline: none;
}
.middleInput > button {
  border: none;
  width: 20%;
  height: 30px;
  color: #fff;
  margin: 5px 17px;
  background: rgb(67, 67, 227);
  border-radius: 180px;
}

/* MIDDLE POST  */
.post {
  background: #fff;
  border-radius: 10px;
  padding: 2px 10px 2px 8px;
  margin: 15px 0;
}
.postProfile {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.imgPost {
  display: flex;
  gap: 10px;
  align-items: center;
}

.imgPost > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postText > h3 {
  font-size: 14px;
}

.postText > p {
  font-size: 10px;
  color: grey;
}
.postProfile > span {
  font-size: 20px;
}

.postPic {
  width: 500px;
  border-radius: 10px;
  height: 320px;
  object-fit: cover;
}
/* post icons */

.postIcons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 0;
}

.postIcon {
  display: flex;
  gap: 20px;
}

/* Right content of the app  */

.rightSide {
  padding: 10px 40px 0 0;
}

.messageSide {
  background: #fff;
  width: 250px;
  border-radius: 8px;
  padding: 10px 15px;
  /* height: 0; */
  overflow-y: auto;
}

.msg {
  display: flex;
  justify-content: space-between;
}

.msgInput {
  background: rgba(6, 6, 255, 0.066);
  width: 220px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  border-radius: 180px;
  margin: 10px 0;
  padding: 10px;
}

.msgInput > i {
  padding: 10px;
}

.msgInput > input {
  border: none;
  background: none;
  width: 100%;
  outline: none;
  padding: 5px;
}


.msgInput >button{
  background: none;
  border: none;

}
/*THEME */
.hideTheme {
  display: none;
}

.centerTheme {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 25%;
  left: 27%;
}

.themeContainer {
  width: 600px;
  height: 350px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line > button {
  background-color: grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 8px;
  color: #fff;
}
.transLine {
  background-color: rgba(0, 0, 205, 0.066);
  width: 200px;
  height: 3px;
}

/* 
.messageSide .postProfile.hide{
  display: none;
} */
